<section>
    <div class="main-content">
        <div class="logo-container">
            <img src="assets/img/home-workspace.svg" alt="">
        </div>
        <div class="card-container">
            <mat-card>
                <mat-card-content>
                    <mat-card-header>
                        <div class="header-container">
                            <button routerLink="/" mat-mini-fab color="primary" class="back-button">
                                <mat-icon class="back-icon">arrow_back</mat-icon> 
                              </button>
                            <h1>Passwort zurücksetzen</h1>          
                        </div> 
                        <span>Bitte geben sie ihre E-Mail-Adresse ein.</span>
                    </mat-card-header>
                    <div class="input-container">
                        <input  [formControl]="emailFormControl" placeholder="beispielname@emailcom" class="mail-input" type="text">
                    </div>
                    <span class="mail-info-text">
                        Wir senden Ihnen eine E-mail, über die Sie ihr Passwort ändern können.
                    </span>
                    <div class="button-container">
                        <button (click)="sendMail()" [disabled]="!emailFormControl.valid"  class="send-mail-btn">E-Mail senden</button>
                    </div>

                </mat-card-content>
            </mat-card>
        </div>
        <div class="footer-links">
            <a  routerLink="/imprint">Impressum</a>
            <a  routerLink="/dataprotection">Datenschutz</a>
        </div>
    </div>
</section>