<app-head-dashboard
  [groupChatVisible]="groupChatVisible"
  [directChatVisible]="directChatVisible"
  [sidenavVisible]="sidenavVisible"
  (backClicked)="handleBackClick()"
  (clickedUserIdEvent)="handleDirectChatId($event)"
  (clickedChannelIdEvent)="handleCurrentGroupId($event)"
  (directChatEvent)="handleDirectChatVisibility($event)"
  (groupChatEvent)="handleGroupChatVisibility($event)"
></app-head-dashboard>
<section>
  <app-sidenav-dashboard
    *ngIf="sidenavVisible"
    (clickedUserIdEvent)="handleDirectChatId($event)"
    (clickedChannelIdEvent)="handleCurrentGroupId($event)"
    (directChatEvent)="handleDirectChatVisibility($event)"
    (groupChatEvent)="handleGroupChatVisibility($event)"
    #sideNav
    [users]="users"
  ></app-sidenav-dashboard>
  <!-- <app-chat-dashboard class="dashboard"></app-chat-dashboard> -->
  <app-group-chat
    [users]="users"
    [currentId]="currentGroupChat"
    (threadEvent)="updateGroupChatVisibility()"
    *ngIf="groupChatVisible"
    class="chat-components"
  ></app-group-chat>
  <app-direct-chat
  [users]="users"
    [currentChatPartnerId]="currentDirectChat"
    *ngIf="directChatVisible"
    class="chat-components"
  ></app-direct-chat>
  <app-thread (closedThread)="updateGroupChatVisibility()"  *ngIf="!threadService.closeTab" [users]="users"></app-thread>
</section>
