@import "./../../../styles.scss";

section {
  height: 100%;
  display: flex;
}

.thread-container {
  width: 485px;
  border-radius: 30px;
  position: relative;
  background-color: white;
  font-family: $nunito;
  font-size: 18px;
  font-weight: 400;
  margin: 20px 20px 20px 0px;

  h2 {
    font-size: 24px;
    font-weight: 700;
  }

  p {
    font-size: 14px;
    color: $purple2;
  }
}


.thread-head {
  height: calc(104px - 32px - 32px);
  padding: 32px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.08);
}

.head-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.thread-content {
  height: calc(920px - 104px - 187px);
  padding: 20px 0 20px 0;
}

.answer-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.answer-field {
  height: 103px;
  width: calc(445px - 40px);
  border: 1px solid $light-purple;
  border-radius: 20px;
  padding: 20px;

  textarea {
    border: none;
    font-size: 18px;
    font-weight: 400;
    width: 255px;
    ;
    height: 65px;
    width: 100%;

    &:focus-visible {
      outline: none;
    }
  }
}

#answer {
  resize: none;
}

.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex-sb {
  display: flex;
}

.add {
  cursor: pointer;
  background: url("../../../assets/img/add.svg") no-repeat;

  &:hover {
    background: url("../../../assets/img/add-hover.svg") no-repeat;
  }
}

.emoji {
  cursor: pointer;
  background: url("../../../assets/img/emoji.svg") no-repeat;

  &:hover {
    background: url("../../../assets/img/emoji-hover.svg") no-repeat;
  }
}

.email {
  cursor: pointer;
  background: url("../../../assets/img/email.svg") no-repeat;

  &:hover {
    background: url("../../../assets/img/email-hover.svg") no-repeat;
  }
}

.send {
  cursor: pointer;
  background: url("../../../assets/img/send.svg") no-repeat;

  &:hover {
    background: url("../../../assets/img/send-hover.svg") no-repeat;
  }
}

.close {
  cursor: pointer;
  background: url("../../../assets/img/close.svg") no-repeat;

  &:hover {
    background: url("../../../assets/img/close-hover.svg") no-repeat;
  }
}

.vector {
  background: url("../../../assets/img/vector 4.svg") no-repeat;
  width: 4px;
  height: 40px;
}

.w-h-40 {
  width: 40px;
  height: 40px;
}

.d-none {
  display: none;
}

textarea::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
}

textarea::-webkit-scrollbar-track {
  background: $bg-color;
}

textarea::-webkit-scrollbar-thumb {
  background: $purple2;
  border-radius: 8px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: $purple3;
}



//-----------------------------------------------------------//








.chat {
  overflow-y: auto;
  max-height: 500px;
  height: 500px;



  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: $bg-color;
    margin-left: 1rem;
    border-radius: 10px;
    height: 80%;
    background-color: transparent;
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: $purple2;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $purple3;
  }
}

.icon {
  color: black;

  &:hover {
    display: none;
  }
}

button {
  .icon {
    &:hover {
      display: none;
    }
  }
}


.DF {
  display: flex;
}

//header

.chat-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
  height: 96px;


  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
  }
}

.chat-header-left {
  cursor: pointer;
  padding: 6px 10px;
  height: 33px;
  margin-left: 35px;
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    font-size: 24px;
    font-weight: 700;
    font-family: $nunito;
  }

  .arrow-down {
    background: url('../../../assets/img/keyboard_arrow_down.svg') no-repeat;
    width: 30px;
    height: 30px;
  }

  .tag {
    background: url('../../../assets/img/tag.svg') no-repeat;
    width: 30px;
    height: 30px;
  }

  &:hover {
    background-color: $bg-color;
    border-radius: 100px;

    .arrow-down {
      background: url('../../../assets/img/keyboard_arrow_down-hover.svg') no-repeat;
    }

    .tag {
      background: url('../../../assets/img/tag-hover.svg') no-repeat;
    }

    span {
      color: $purple1;
    }
  }
}

.chat-members-num {
  font-size: 20px;
  font-weight: 600;
  font-family: $nunito;
}

.header-avatar {
  gap: 8px;
  padding-right: 10px;
  padding-left: 27px;
  border-radius: 20px;
  cursor: pointer;
  transition: ease-in-out 125ms;

  &:hover {
    background-color: $bg-color;
  }

}

.add-person {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 32px;
  justify-content: center;
  background-color: $bg-color;
  cursor: pointer;
}

.avatar-img {
  width: 40px !important;
  height: 40px !important;
  border-radius: 45px;
  margin-left: -20px;
}

//chat
.line {
  width: 50%;
  height: 3px;
  background-color: #ADB0D9;
}

.date-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.date {
  border: solid #ADB0D9;
  padding: 5px;
  border-radius: 1rem;
  text-align: center;
}

.chat-message {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-left: 12px;
  gap: 20px;
  cursor: pointer;
  transition: ease-in-out 125ms;
  padding-top: 8px;

  &:hover {
    background-color: $bg-color;
  }

  &:hover .message {
    background-color: white;
    transition: ease-in-out 125ms;
  }
}

.message-avatar {
  img {
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}

.message {
  background-color: #ECEEFE;
  padding: 10px;
  border-radius: 0 1em 1em;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-width: 340px;

  &::-webkit-scrollbar {
    height: 8px;
    border-radius: 8px;
  }
  
  &::-webkit-scrollbar-track {
    background: $bg-color;
  }
  
  &::-webkit-scrollbar-thumb {
    background: $purple2;
    border-radius: 8px;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: $purple3;
  }
}

.time {
  color: #686868;
  font-size: 14px;
}

.name {
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
}

.name-time-div {
  margin-bottom: 10px;
  gap: 20px;
  display: flex;
}

.you-name-time-div {
  margin-bottom: 10px;
  flex-direction: row-reverse;
  gap: 20px;
  display: flex;
}

.you-chat-message {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  padding-right: 12px;
  cursor: pointer;
  transition: ease-in-out 125ms;
  padding-top: 8px;

  &:hover {
    background-color: $bg-color;
  }
}

.you-message {
  background-color: #797EF3;
  padding: 10px;
  border-radius: 1em 0 1em 1em;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

//message

.message-input {
  border: solid #ADB0D9;
  border-radius: 20px;
  width: 90%;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 25px;
}

.own-message-reaction {
  margin-top: 8px;
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
  flex-direction: row-reverse;
  gap: 8px;
}

.message-reaction {
  margin-top: 8px;
  display: flex;
  justify-content: flex-start;
  gap: 8px;

}

form {
  padding: 2px;
}

.message-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message-icons-img {
  border: solid;
}

.border {
  width: 2px;
  height: 25px;
  background-color: grey;
}

.img-gap {
  img {
    margin-right: 10px;
  }
}

.comment {
  cursor: pointer;
  background: url("../../../assets/img/comment.svg") no-repeat;

  &:hover {
    background: url("../../../assets/img/hover-comment.svg") no-repeat;
  }
}

.reaction {
  cursor: pointer;
  background: url("../../../assets/img/add_reaction.svg") no-repeat;

  &:hover {
    background: url("../../../assets/img/hover-add_reaction.svg") no-repeat;
  }
}

.answer-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  position: absolute;
  left: 23px;
  right: 23px;
  bottom: 25px;
}

.answer-field {
  height: 103px;
  width: 90%;
  border: 1px solid $light-purple;
  border-radius: 20px;
  padding: 20px;

  textarea {
    border: none;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    height: 65px;
    font-family: $nunito;

    &:focus-visible {
      outline: none;
    }
  }
}

#answer {
  resize: none;
}

.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex-sb {
  display: flex;
}

.add {
  cursor: pointer;
  background: url("../../../assets/img/add.svg") no-repeat;

  &:hover {
    background: url("../../../assets/img/add-hover.svg") no-repeat;
  }
}

.emoji {
  cursor: pointer;
  background: url("../../../assets/img/emoji.svg") no-repeat;

  &:hover {
    background: url("../../../assets/img/emoji-hover.svg") no-repeat;
  }
}

.email {
  cursor: pointer;
  background: url("../../../assets/img/email.svg") no-repeat;

  &:hover {
    background: url("../../../assets/img/email-hover.svg") no-repeat;
  }
}

.send {
  cursor: pointer;
  background: url("../../../assets/img/send.svg") no-repeat;

  &:hover {
    background: url("../../../assets/img/send-hover.svg") no-repeat;
  }
}

.close {
  cursor: pointer;
  background: url("../../../assets/img/close.svg") no-repeat;

  &:hover {
    background: url("../../../assets/img/close-hover.svg") no-repeat;
  }
}

.vector {
  background: url("../../../assets/img/vector 4.svg") no-repeat;
  width: 4px;
  height: 40px;
}

.w-h-40 {
  width: 40px;
  height: 40px;
}

.d-none {
  display: none;
}

textarea::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
}

textarea::-webkit-scrollbar-track {
  background: $bg-color;
}

textarea::-webkit-scrollbar-thumb {
  background: $purple2;
  border-radius: 8px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: $purple3;
}

.quick-reactions-container {
  height: 30px;
  display: flex;
  border-radius: 20px 20px 0px 20px;
  position: absolute;
  right: 0;
  width: fit-content;
  background-color: white;
  padding: 5px;
  border: 1px solid $light-purple;

}

.own-quick-reactions-container {
  position: absolute;
  left: 0;
  height: 30px;
  display: flex;
  border: 1px solid $light-purple;
  border-radius: 20px 20px 0px 20px;
  width: fit-content;
  background-color: white;
  padding: 5px;
  gap: 8px;
}

.quick-reaction {
  cursor: pointer;
  font-size: 18px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  border-radius: 50%;

  &:hover {
    color: $purple1;
    background-color: $bg-color;

  }
}

.thread-icon {
  cursor: pointer;

  &:hover {
    color: $purple1;
  }
}

.edit-message-icon {
  position: relative;

  &:hover {
    color: $purple1;
  }
}

.add-reaction-icon {
  cursor: pointer;
  font-size: 24px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: $purple1;
  }
}

.show-reactions-container {
  display: flex;
  gap: 8px;
}

.show-reactions {
  width: 48px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid $light-purple;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: white;
}

.reaction-information {
  min-width: 150px;
  min-height: 100px;
  gap: 8px;
  border-radius: 30px 30px 30px 0px;
  background-color: #444df2;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-inline: 20px;
  max-height: 120px;
  padding-top: 4px;
}

.current-emoji {
  font-size: 30px;
  margin-top: 4px;
}

.current-emoji-users {
  font-size: 16px;
  font-family: $nunito;
  font-weight: 700;
  color: white;
  flex-wrap: wrap;
  max-width: 150px;
  display: flex;
  justify-content: center;
}

.send-image {
  background-color: white;
  height: 200px;
  width: 200px;
  object-fit: contain;
  border-radius: 20px;
}

.textarea-edit-container {
  background-color: $bg-color;
}

.center-edit-objects {
  border: 1px solid $purple1;
  margin-left: 12px;
  margin-right: 12px;
  height: 140px;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-message-textarea {
  border: none;
  font-size: 18px;
  font-weight: 400;
  width: 94%;
  height: 65px;
  resize: none;
  padding-inline: 12px;
  font-family: $nunito;

  &:focus-visible {
    outline: none;
  }
}

.edit-message-send-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 24px;
  width: 94%;
}

.edit-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
}

.edit-emoji {
  cursor: pointer;

  &:hover {
    color: $purple1;
  }
}

.delete-img {
  width: 50px;
  height: 50px;
  position: relative;
}

.delete-img-btn {
  position: absolute;
  top: -12px;
  right: -14px;
  cursor: pointer;
}

.edit-message-final-buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.cancel-edit {
  width: 141px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  justify-content: center;
  border: 1px solid $purple1;
  font-family: $nunito;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: $purple1;
  cursor: pointer;
  transition: ease-in 125ms;

  &:hover {
    background-color: $purple1;
    color: white;
  }
}

.send-edit {
  width: 141px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  justify-content: center;
  border: none;
  font-family: $nunito;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: white;
  background-color: $purple1;
  cursor: pointer;
  transition: ease-in 125ms;

  &:hover {
    background-color: lighten($purple1, 10%);
  }

}

.edit-message-container {
  width: fit-content;
  min-width: 300px;
  // height: 73px;
  padding: 10px 20px 10px 20px;
  gap: 15px;
  border-radius: 0px 30px 30px 30px;
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-message-button {
  font-weight: 600;
  font-size: 24px;
  font-family: $nunito;
  border-radius: 100px;
  transition: ease-in 80ms;
  cursor: pointer;
  width: 270px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $bg-color;
    color: $purple3;
    font-weight: 700;
  }
}

.show-at-user {
  display: flex;
  align-items: center;
  width: 150px;
  border: 1px solid $purple1;
  border-radius: 30px;
  cursor: pointer;
  padding: 4px;

  &:hover{
    background-color: $bg-color;
  }
}

.at-user-img {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.at-user-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
  border-radius: 25px 25px 25px 0;
  max-height: 200px;
  overflow-x: auto;
 &::-webkit-scrollbar {
    width: 8px;
    border-radius: 8px;
  }
  
  &::-webkit-scrollbar-track {
    background: $bg-color;
  }
  
  &::-webkit-scrollbar-thumb {
    background: $purple2;
    border-radius: 8px;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: $purple3;
  }
}

@media (max-width: 1500px){
  .thread-container{
    width: 366px;
  }

  .message{
    max-width: 230px;
  }
}

@media (max-width: 500px){
  .thread-container {
    height: calc(100vh - 80px);
    border-radius: 0px;
    margin-bottom: 0px;
    width: 100vw;
    margin: 80px 0 0 0;
  }
}
