<section>
  <mat-card>
    <h3>Reaktionen</h3>

    <div class="emo-row">
      <div class="emoji" id="e-1" (click)="emojiClick('e-1')">😀</div>
      <div class="emoji" id="e-2" (click)="emojiClick('e-2')">😁</div>
      <div class="emoji" id="e-3" (click)="emojiClick('e-3')">😅</div>
      <div class="emoji" id="e-4" (click)="emojiClick('e-4')">🤣</div>
      <div class="emoji" id="e-5" (click)="emojiClick('e-5')">😂</div>
    </div>

    <div class="emo-row">
      <div class="emoji" id="e-6" (click)="emojiClick('e-6')">😉</div>
      <div class="emoji" id="e-7" (click)="emojiClick('e-7')">🥰</div>
      <div class="emoji" id="e-8" (click)="emojiClick('e-8')">😘</div>
      <div class="emoji" id="e-9" (click)="emojiClick('e-9')">😜</div>
      <div class="emoji" id="e-10" (click)="emojiClick('e-10')">🤗</div>
    </div>

    <div class="emo-row">
      <div class="emoji" id="e-11" (click)="emojiClick('e-11')">😒</div>
      <div class="emoji" id="e-12" (click)="emojiClick('e-12')">🤥</div>
      <div class="emoji" id="e-13" (click)="emojiClick('e-13')">😌</div>
      <div class="emoji" id="e-14" (click)="emojiClick('e-14')">😴</div>
      <div class="emoji" id="e-15" (click)="emojiClick('e-15')">😎</div>
    </div>

    <div class="emo-row">
      <div class="emoji" id="e-16" (click)="emojiClick('e-16')">🙁</div>
      <div class="emoji" id="e-17" (click)="emojiClick('e-17')">😳</div>
      <div class="emoji" id="e-18" (click)="emojiClick('e-18')">😢</div>
      <div class="emoji" id="e-19" (click)="emojiClick('e-19')">😭</div>
      <div class="emoji" id="e-20" (click)="emojiClick('e-20')">😱</div>
    </div>

    <div class="emo-row">
      <div class="emoji" id="e-21" (click)="emojiClick('e-21')">👍</div>
      <div class="emoji" id="e-22" (click)="emojiClick('e-22')">👎</div>
      <div class="emoji" id="e-23" (click)="emojiClick('e-23')">👌</div>
      <div class="emoji" id="e-24" (click)="emojiClick('e-24')">🙏</div>
      <div class="emoji" id="e-25" (click)="emojiClick('e-25')">👐</div>
    </div>
  </mat-card>
</section>
